mechanize
requests
bs4
terminaltables
exifread
colorama
pyrebase
PIL
try:
    pip3 install pyrebase
expect:
    pip3 install --upgrade setuptools
    pip3 install --upgrade gcloud
    pip3 install pyrebase